#cuadro-1 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  top: 0%;
  left: 0%;
}

#cuadro-2 {
  width: 100px;
  height: 100px;
  background-color:red;
  position: absolute;
  top: 0%;
  right: 0%;

}

#cuadro-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#cuadro-4 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
